<h1>Normal Form!</h1>
 <form action="/form_result_url" method="post">
   <div>
     <label for="message">Enter message: </label>
     <input type="text" name="form_message" id="message">
   </div>
   <div>
     <input type="submit" value="Submit message!">
   </div>
 </form>

<h1>Rails Form!</h1>
<%= form_tag '/form_result_url', method: :post do %>
  <div>
    <%= label_tag :form_message, 'Enter message: ' %>
    <%= text_field_tag :form_message %>
  </div>
  <div>
    <%= submit_tag 'Submit message!' %>
  </div>
  <% end %>